@charset "UTF-8";

ul {
    list-style: none;
    padding-left: 0;
}

li {
    width: 150px;
    color: white;
    margin: 0 0 5px 0;
}

.odd {
    background-color: rgb(142, 62, 94);
}

.even {
    background-color: rgb(6, 219, 95);
}
